<!DOCTYPE html>
{% load static %}
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href= "{% static 'css/stats_custom_css.css' %}" />

    <title>StatsClass</title>
</head>
<body>
    <div class="title_bar">
    <navbar>
        <a>About</a>
        <a class="right_navbar">Search</a>
    </navbar>
        </div>
    <h6 style="float: right;">Created by: Nellie Tobey</h6>
    <main>
        <div class="title_headers">
        <h1>Stats Class</h1>
        <h2>Construction of this site is in progress.</h2>

            </div>
        <navbar class="mid_page_navbar">
            <a>Basic Probablity of x</a>
            <a>Standard Deviations</a>
            <a>Means and Medians</a>
            <a>Binomial Distribution</a>
            <a>Uniform Distribution</a>
            <a>Normal Distribution</a>
            <a>Show me the math</a>
        </navbar>
    </main>
</body>
</html>