body {
    width: -webkit-fill-available;
    font-family: 'Josefin Slab', serif;
    background: rgba(243, 244, 247, 0.9);
    margin-bottom: 25vh;
    color: #4e0682;
    font-weight: 600;
}

img {
    box-shadow: 2px 2px 8px silver;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 2;
    width: 40%;
    background: rgba(53, 5, 130, 0.12);
    margin-bottom: 40px;
    background: linear-gradient(45deg, #d5cfe4, #e6f6f9);
}

h2 {
    font-weight: 600;
    color: black;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    margin-left: 20px;
    margin-right: 20px;

}

.flex-box a {
    font-size: 2em;
    color: purple;
}