<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/styles1.css" />
    <title>Monty Python Bot</title>


</head>
<body>
    <a href="https://slack.com/oauth/authorize?scope=bot&client_id= {{ client_id }}">
        Add To Slack
    </a>
    <h1> A slack bot for Monty Python fans.</h1>
    <p id="intro">
        <h2>
            Messages:
        </h2>
    </p>
    <textarea>

    </textarea>


</body>
</html>