<!doctype html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Nellie's Noodles</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body style="background-color: #D7D3DC; display: inline-block; font-family: Tahoma, Verdana, Segoe, sans-serif;">

  <div id="nav_bar" class="banner">
    <a href="/"><button type="button"class="btn btn-outline-primary" style="float: left;">Home</button></a>
      <a href="/wiwa"><button type="button"class="btn btn-outline-primary" style="float: left;">Wiwa</button></a>
    <p style="float: right; padding-right: 10px;"> Created by Nellie Tobey </p>
  </div>
      <div class="banner" style="text-align: center; background-color: #CDD9EC">
<h1>Blog Posts</h1>
<h3>Information about this site</h3>
</div>

{% for post in posts %}
    <div class='jumbotron'>
        <p>published: {{ post.publish_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

<br>





</body>

</html>
