<!doctype html>
<!--  pythonanywhere not needed in local development -->
{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nellie's Noodles</title>

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
    <!--  for pythonanywhere -->
    <link rel="stylesheet" href="{% static '/css/custom_noodles.css' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!--  local development
    <link rel="stylesheet" href="custom_noodles.css" />
    -->

</head>

<body>


    <div class="custom-nav">

        <div class="dropdown">
            <button class="dropdown-button"> My Pages </button>
            <div class="dropdown-content">
                <a href="/blog">Info-Blog</a>
                <!--  change made for wiwa update 5-14-19 -->
                <a href="jstests">Learning JS</a>
                <a href="blog/word_finder">Word Finder</a>
                <a href="WIWA">Chatbot</a>
                <a href="nim">NIM game</a>


            </div>
        </div>
        <div class="left-align">
        <h6 id="my_tag"> Created by Nellie Tobey </h6>
            </div>


    </div>
    <!-- end NEW NAV -->

     <div class="contact-me">
        <p> Currently seeking employment.  Contact me:  nelliesnoodles42@gmail.com </p>
    </div>

        <h1>Nellie's Noodles:</h1>
        <h5> Experiments and learning Python, Django, Javascript, CSS.</h5>

        <h3 style="text-align: center;">
            <a href="https://twitter.com/NelliesNoodles?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @NelliesNoodles</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a id="github-image" class="github-button" href="https://github.com/nelliesnoodles" aria-label="Follow @nelliesnoodles on GitHub">Follow @nelliesnoodles</a>

        </h3>



        <main class="home">
            <div class="card">
            <a href="https://github.com/nelliesnoodles/StatsClass" target="_blank">Python and Statistics on GitHub</a>
            <image class="showcase1" src="static/images/ace_of_spades.JPG" alt="A screen shot of the current 'stats class' basic probabilities page.  The probability of getting the Ace of spades, a different ace, and any other card is displayed.">

            </image>
            </div>

            <div class="card">
            <a href="https://chingu-voyages.github.io/v10-geckos-team-01/index.html" target="_blank"> Learn, Quiz && have fun! </a>
            <image class="showcase2" src="static/images/github_prev2.JPG" alt="A combination of three screenshots showing three different quiz sections to the Voyage 10 project Code Quiz.">

            </image>
            </div>


            <div class="card">
            <a href="https://nelliesnoodles.github.io/" target="_blank"> Chingu V10 Prework Match game </a>
            <image class="showcase3" src="static/images/match_game.JPG" alt="screenshot of the memory match game solo build for the Chingu Voyage 10 prework">

            </image>
            </div>

             <div class="card">
            <a href="https://nelliesnoodles.github.io/Favorite_Fonts_Chingu_V15_prework/">Chingu V15 Prework Favorite Fonts</a>
            <image class="showcase4" src="static/images/darkmode_favFonts.JPG"alt="Screenshot image of the a mock site featuring the Google Fonts API.  Search, create text, play with it, find your favorite."
            </image>
                </div>


            <div class="card">
            <a href="WIWA">Python NLTK Chatbot</a>
            <image class="showcase4" src="static/images/whispering_wall_9-18.JPG" alt="Screenshot image of the whispering wall, a chatbot built with NLTK and python, running in this website with Django."
            </image>
                </div>

    <div class="card">
    <a href="https://camelcasenoodles.blogspot.com/2019/09/reverse-python-linked-list.html" target="_blank"> My coding blog </a>
            <image class="showcase5" src="static/images/blog_prev.JPG" alt="image of one of my blog posts about python, pandas and a little porbability."></image>

    </div>

    <a href="https://www.pinterest.com/nellietobey/my-art/" target="_blank"> My art on Pinterest </a>
            <div class="flex_row">
            <image class="showcase6" src="static/images/dads_face.jpg" alt="A marker and ink drawing of my dad studying. A part of my 2019 faces collection of ink drawings."></image>
            <image class="showcase6" src="static/images/rufusvsundead.png" alt="A digital drawing of a samoyed floof dog licking the face of a crawling zombie."></image>
            <image class="showcase6" src="static/images/lady_in_dark.jpg" alt="An undressed woman, abstract shape, oil paint on canvas"></image>
                </div>
    <a href="https://www.linkedin.com/in/nellie-tobey-creator-michigan/" target="_blank"> My linkedIn Profile </a>
            <image class="showcase7" src="static/images/selfie.jpg" alt="Picture of me last spring, out in the sunshine after a long cold icy winter."></image>



        </main>



    <div class="contact-me">
        <p> Currently seeking employment.  Contact me:  nelliesnoodles42@gmail.com </p>
    </div>

</body>


</html>
