<!doctype html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nellie's Noodles</title>

    <link rel="stylesheet" href="{% static '/css/custom.css' %}">

</head>
 <body style="background: white;">
        <!-- NAVBAR -->

  <div class="custom-nav">
      <div class="dropdown">
      <button class="dropdown-button"> My Pages </button>
    <div class="dropdown-content">
       <a href="/">Home</a>
       <a href="/blog">Info-Blog</a>
       <a href="../../jstests">Learning JS</a>
       <a href="../../WIWA">Chatbot</a>
       <a href="../../nim">NIM game</a>


</div>
</div>

    <h6 id="my_tag"> Created by Nellie Tobey </h6>


  </div>
  <main>

    <h2>Definition returned: </h2>
    <h2>{{word}}</h2>




    <p>
   {{result}}
   </p>

  </main>



    <h2> Code: </h2>
    <p>
    <pre>
    result = "No result"<br>
    if request.method == "GET":<br>
        word = request.GET.get("get_word", None)<br>
        syns = wn.synsets(word)<br>
        if len(syns) > 0:<br>
            result = syns[0].definition()<br>
        else:<br>
            result = "no result for word:" + word<br>
    return render(request, "blog/re_definition.html",
                 {'result': result, 'word': word})<br>
    </pre>
      </p>
</body>

</html>
