<!doctype html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nellie's Noodles</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">

</head>

<body style="background-repeat: no-repeat;  background-position: center; background-size: cover; margin-bottom: 50px; font-family: Tahoma, Verdana, Segoe, sans-serif;">


  <div class="custom-nav">
      <div class="dropdown">
      <button class="dropdown-button"> My Pages </button>
    <div class="dropdown-content">
    <a href="/blog">Info-Blog</a>
    <!--  change made for wiwa update 5-14-19 -->
       <a href="jstests">Learning JS</a>
       <a href="blog/word_finder">Word Finder</a>
        <a href="WIWA">Chatbot</a>
        <a href="nim">NIM game</a>


</div>
</div>

    <h6 id="my_tag"> Created by Nellie Tobey </h6>


  </div>
  <!-- end NEW NAV -->

    <div class="banner">

    <h1>Noodles:</h1>
    <h3 style="text-align: center;">
    <a href="https://twitter.com/NelliesNoodles?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @NelliesNoodles</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </h3>
  </div>


<ul class="link-list">
    <li><a href="https://github.com/nelliesnoodles/StatsClass" targe="_blank">Python and Statistics on GitHub</a></li>
    <li><a href="https://chingu-voyages.github.io/v10-geckos-team-01/index.html" target="_blank"> Learn, Quiz && have fun! </a></li>
<li><a href="https://nelliesnoodles.github.io/" target="_blank"> Chingu Prework Match game </a></li>
<li><a href="https://camelcasenoodles.blogspot.com/2019/09/reverse-python-linked-list.html" target="_blank"> My coding blog </a></li>
<li><a href="https://sarahssmiling.blogspot.com/2019/06/a-certain-flavor.html" target="_blank"> My fiction blog </a></li>
<li><a href="https://www.pinterest.com/nellietobey/my-art/" target="_blank"> My art on Pinterest </a></li>
<li><a href="https://www.linkedin.com/in/nellie-tobey-creator-michigan/" target="_blank"> My linkedIn Profile </a></li>
<li><a href="https://nelliesnoodles.github.io/skillz.github.io/index.html" targe="_blank"> New website project </a></li>
</ul>



<div class="contact-me">
    <p> Currently seeking employment.  Contact me:  nelliesnoodles42@gmail.com </p>
</div>

</body>


</html>
