<!doctype html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nellie's Noodles</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}">

</head>

<body style="background-repeat: no-repeat;  background-position: center; background-size: cover; margin-bottom: 50px; font-family: Tahoma, Verdana, Segoe, sans-serif;">

<script>
    bg_image = "url('/static/images/bubbles.png')";
    bg_color =  '685479';
    bg_on = false;
    if(!(bg_on)){
    document.body.style.backgroundImage = none;
    document.body.style.backgroundColor = bg_color;}
    else{
    document.body.style.backgroundColor = '685479';  <!-- grey violet -->
    document.body.style.backgroundImage = bg_image;

    }

</script>




  <div id="nav_bar" class="banner">
    <a href="/blog"><button type="button"class="btn btn-outline-primary" style="float: left;">Blog</button></a>
      <a href="/wiwa"><button type="button"class="btn btn-outline-primary" style="float: left;">Wiwa</button></a>
       <a href="/jstests"><button type="button"class="btn btn-outline-primary" style="float: left;">Learning JS</button></a>
       <a href="blog/word_finder"><button type="button" class="btn btn-outline-primary" style="float: left;">Word Finder</button></a>
    <p style="float: right; padding-right: 10px;"> Created by Nellie Tobey </p>


  </div>
  <div class="banner" style="margin-top: 20px;">

    <h1 style="text-align: center;">Links to my work</h1>
    <h3 style="text-align: center;">
    <a href="https://twitter.com/NelliesNoodles?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @NelliesNoodles</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </h3>
  </div>


  <div class="jumbotron" style="opacity: 0.75; margin-bottom: 10px;">
    <!--<font style="value: initial;">-->
    <div id="line"></div>
    <a href="https://camelcasenoodles.blogspot.com/2018/02/graphical-for-my-binary-tree.html" target="_blank">My coding blog:  CamelCaseNoodles</a>
    <br>
    <div id="line"></div>
      <a href="https://sarahssmiling.blogspot.com/2018/11/how-to-capture-fartmoodle-introduction.html" target="_blank">My fiction blog: sarah is laughing</a>
    <br>
    <div id="line"></div>
      <a href="https://www.pinterest.com/nellietobey/my-art/" target="_blank">My art on Pinterest</a>
    <br>
    <div id="line"></div>
    <a href="https://docs.google.com/document/d/1OksZXv4SCJCmRufT6n86rQYnryTB4uyqSJFVhIW1-tk/edit?usp=sharing" target="_blank"> My Resume</a>
    <br>
    <div id="line"></div>
    <a href="https://www.linkedin.com/in/nellie-tobey-creator-michigan/" target="_blank">My LinkedIn Profile</a>
    <br>
    <div id="line"></div>
    <a href="https://github.com/nelliesnoodles" target="_blank">Github Repositories</a>
    <br>
    <div id="line"></div>
    </font>
  </div>




</body>

<footer style = "text-align: center;
  background: #DDEEEE;
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;"> <!-- color = ligth blue -->
    <h2> Moving forward, even if it's one step back. </h2>
</footer>

</html>
