<!doctype html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>Nellie's Noodles</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body style="background-color: #D7D3DC; display: inline-block;">
  <h1 align='right' style="float:right;padding-right:80px;"> future images</h1>
  <div class='container' style="float:right; margin:10px 75px;">
  <img alt="A sin wave spiral pattern with pink/purple" border="8" style="float:right;width-max:200px;height-max:200px;margin:10px 75px"/>
  </div>
  <div class="banner" style="text-align: center; background-color: #CDD9EC">


    <h1><a>Work in Progress</a></h1>

</div>
  <h2>Buttons that don't do Anything yet.</h2>
  <div class="container" style="margin: auto;">
    <div class="btn-group btn-group-lg" role="group" aria-label="Buttons that don't do anything yet">
      <button type="button" class="btn btn-secondary">Here</button>
      <button type="button" class="btn btn-secondary">There</button>
      <button type="button" class="btn btn-secondary">Anywhere</button>
    </div>
  </div>
  <h1>Links to my work</h1>
  <div class="jumbotron">
    <p>
      <a href="https://camelcasenoodles.blogspot.com/2018/11/django-mysitesettings-import-errors.html">My coding blog:  CamelCaseNoodles</a>
    </p>
    <p>
      <a href="https://sarahssmiling.blogspot.com/2018/11/how-to-capture-fartmoodle-introduction.html">My fiction blog: sarah is laughing</a>
    </p>
    <p><font size="3">
      Pinterest will only grant so many images before insisting you sign up, or sign in.
    </font>
    </p>
    <p>
      <a href="https://www.pinterest.com/nellietobey/my-art/">My art on Pinterest</a>
    </p>
  </div>




</body>

</html>
