<!-- Client_Requests/templates/index.html -->

{% load static %}


<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- font -->
       <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
      <!-- stylesheet -->
      <link rel="stylesheet" href="{% static '/css/custom_wordfinder.css' %}">
      <link rel="stylesheet" href="{% static '/css/noodle_nav.css' %}">
      <!-- Javascript -->
       <script type="text/JavaScript" src="{% static '/js/noodle_nav.js' %}"></script>


      <title>Word Finder</title>

    </head>
    <body>
        <!-- NAVBAR -->

   <nav class='noodle_nav' style="color: black;">

        <a class="noodle_home_link" href="/">Noodles</a>
        <div class="nav_link_menu" id="nav_link_menu">
                <a class="noodle_link" href="/blog">Info-Blog</a>
                <a class="noodle_link" href="blog/word_finder">Word Finder</a>
                <a class="noodle_link" href="../WIWA">Chatbot</a>
                <a class="noodle_link" href="../nim">NIM game</a>
        </div>
        <i class="fas fa-hamburger" id="hamburg" value="ON"></i>




    </nav>





     <!--  Word Finder div  -->

    <main>
      <h1 style="display: flex; align-items: center; justify-content: center;"> Word finder </h1>
      <!--  color:   light blue =  8caac3   -->
      <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h5> Using python enchant </h5>
        <h3><strong> {{ error }} </strong></h4>
        <h3> {{ correction }} </h4>
      </div>

      <!--     textarea & form submission -->
      <div class="container" style="padding: 25px 25px 25px 25px;">
      <form method="GET" action="find_word" id="check_form" style="padding-top: 20px;">
           <textarea form="check_form" rows="1" cols="40" maxlength="27" name="user_input"></textarea>
        <button type="submit">check your word</button>
      </form>
    </div>
    <h3 style="margin-left: 20px; border-bottom: solid; border-color: #8caac3; ">Other suggestions</h3>
    <div style="text-align: center; float: left; padding-left: 20px; padding-bottom: 10px;">
    {% for word in args %}
    <div style="text-align: center; float: left; padding-left: 20px;">
    <h4><strong>{{word}}</strong></h4>
    </div>
    {% endfor %}
    </div>

    </main>
    <div class="flex_containter_row">
    <h2> Fetch a Definition </h2>
    </div>
    <div class="flex_containter_row">
    <form method="GET" action="/re_definition" id="defin_form" style="padding-top: 20px;">

         retrieve this = <input type="text" maxlength="27" name="get_word"><br>
         <input type="submit" value="SUBMIT">
       </form>
     </div>




    </body>

</html>
