<!-- Client_Requests/templates/index.html -->

{% load static %}


<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static '/css/custom.css' %}">

      <title>Word Finder</title>

    </head>
    <body style="margin-left: 20px; margin-right: 20px; padding: 0px; max-height: 100%; overflow: auto;">
        <!-- NAVBAR -->
      <div id="nav_bar" class="banner">
          <a href="/"><button type="button"class="btn btn-outline-primary" style="float: left;">Home</button></a>
          <a href="/blog"><button type="button"class="btn btn-outline-primary" style="float: left;">Blog</button></a>
          <a href="/jstests"><button type="button"class="btn btn-outline-primary" style="float: left;">Learning JS</button></a>
          <a href="/WIWA"><button type="button"class="btn btn-outline-primary" style="float: left;">Chatbot</button></a>
      </div>




     <!--  Word Finder div  -->
    </div>
      <h1 style="float: center;  margin-left: 20px; padding-top: 40px;"> Word finder </h1>
      <!--  color:   light blue =  8caac3   -->
      <div style="padding-bottom: 20px; margin-left: 20px; border-bottom: solid; border-color: #8caac3; ">
        <h5> Using python enchant </h5>
        <h4><strong> {{ error }} </strong></h4>
        <h4> {{ correction }} </h4>
      </div>

      <!--     textarea & form submission -->
      <div class="container" style="padding: 25px 25px 25px 25px;">
      <form method="GET" action="find_word" id="check_form" style="padding-top: 20px;">
           <textarea form="check_form" rows="1" cols="40" maxlength="27" name="user_input"></textarea>
        <button type="submit">check your word</button>
      </form>
    </div>
    <h3 style="margin-left: 20px; border-bottom: solid; border-color: #8caac3; ">Other suggestions</h3>
    <div style="text-align: center; float: left; padding-left: 20px; padding-bottom: 10px;">
    {% for word in args %}
    <div style="text-align: center; float: left; padding-left: 20px;">
    <h4><strong>{{word}}</strong></h4>
    </div>
    {% endfor %}
    </div>


    <div class="container"  style="bottom: 0;">
    <h2 style="border-bottom: solid; padding-top: 10px; "> get definition </h2>
    <form method="GET" action="/re_definition" id="defin_form" style="padding-top: 20px;">

         retrieve this = <input type="text" maxlength="27" name="get_word"><br>
         <input type="submit" value="SUBMIT">
       </form>
     </div>




    </body>

</html>
