/* static custom css -- Nellie Tobey -- nelliesnoodles */
/* FOR PAGE:  blog-info */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Girassol', cursive;
    min-height: 100%;
    background: url('../images/caffeine-close-up-coffee-639111.jpg');
}

.noodle_nav {
    color: black;
    background: rgb(243, 244, 247);

}

.noodle_nav a {
    color: inherit;
}

#hamburg {
    color: inherit;
}
h4 {
    color: #2d1c44;
}

.blog-font-h1 {
    color: white;
}

main {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #073F5D;
}

h2 {
    color: #073F5D;
}


button:hover {
    background-color: #e8f4f4;
}


.dropdown-content a {
    color: black;
    padding: 5px 5px;
    display: block;
    background: #DDEEEE;
    font-size: 20px;
    width: 27vw;
}


/* Used in blog/ about this site */

.jumbotron {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 80;
    background: #e0e6e8de;
    font-family: 'Play', sans-serif;
    border: solid 5px #271838;
}

.flex_container_row {
    display: flex;
    flex-direction: row;
}

.flex_containter_column {
    display: flex;
    flex-direction: column;
}

.jumbotron p {
    background: #1f0f2ff2;
    color: white;
    padding: 5vh;
    border: solid 1px #b50bec;
}

.dropdown-content a:hover {
    background: rgba(200, 190, 200, 1);
    transform: scale(1.05, 1.05);
    border: solid 2px transparent;
    color: white;
    text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

li {
    border-bottom: 2px solid purple;
    color: inherit;
    background: rgba(200, 200, 200, 0.85);
    padding-left: 2vw;
}

.dropdown {
    display: inline-block;
    float: left;
    height: 100%;
    width: 30vw;
    border: none;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 100%;
}

.dropdown-button {
    background: inherit;
    height: 100%;
    width: 27.75vw;
    border: none;
    box-shadow: 1px 1px -2px -2px #e5dcee;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#wiwa {
    font-size: 1.5em;
}

#line {
    padding-top: 5px;
    border-bottom: 5px solid;
    border-color: white;
    width: 100%;
    height: 8px;
}

#wiwa_bg {
    background-image: url('/static/images/unicorn4_12-22-18.png');
}

#image.container {
    /*border-style: solid;*/
    background-image: linear-gradient(#D7D3DC, #489076);
}

.custom-nav {
    background-color: rgba(221, 242, 243, 0.85); /* pale blue */
    padding-top: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    display: block;
}

#my_tag {
    margin-left: 70vw;
    z-index: 3;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#nav_bar.banner {
    position: absolute;
    padding-top: 0px;
    top: 0;
    left: 0;
    background-color: #DDEEEE; /* pale blue */
    width: 100%;
    height: 10vh;
}

#text-area.flex-container {
    float: left;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    background-color: #D7D3DC;
    opacity: 0.95;
    position: fixed;
}

#grey-image.div {
    background-image: url('/static/images/unicorn2_12-22-18.png');
}

#github-image.a {
    color: #4a3e54;
    font-size: initial;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgba(176, 221, 219, 0.5);
    border: solid 5px black;
    /* grey blue */
}

    .banner h1 {
        margin: 0;
        color: #fafefd;
        text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px aqua;
    }

#gradiant.banner {
    background-image: linear-gradient(#CDD9EC, #A7D9C7);
}

#gradiant2.banner {
    background-image: linear-gradient(#CDD9EC, #7C7A76);
}

.contact-me {
    background: rgba(230, 246, 249, 0.80);
    color: #310932;
    text-shadow: 1px 1px 2px white;
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-list {
    list-style: none;
    align-content: left;
    left: 0;
    padding-left: 0;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
