/* static custom css -- Nellie Tobey -- nelliesnoodles */
/* FOR PAGE:  blog-info */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Girassol', cursive;
    min-height: 100%;
    background: url('../images/caffeine-close-up-coffee-639111.jpg');
}

main {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


h1 {
    color: #073F5D;
}

h2 {
    color: #edeef3;
}

h4 {
    color: #2d1c44;
}

li {
    border-bottom: 2px solid purple;
    color: inherit;
    background: rgba(200, 200, 200, 0.85);
    padding-left: 2vw;
}

footer {
    color: white;
    margin: 10px;
}



/* ------- Article/post content ---- */
article {
    background: rgba(250, 249, 251, 0.92);
    padding: 5vh;
    margin-bottom: 10px;
    width: 75vw;
}

article p {
    padding: 1em;
    background: rgba(250, 249, 251, 0.2);

}

article h2 {
    color: #edeef3;
    background-color: #080f1a;
    text-align: center;
    text-shadow: 1px 1px 2px #5f7a7f;
    box-shadow: 0px 5px 10px lightgrey;
}

.rounded_border {
     border: 3px solid #5e7a7e;
     border-radius: 10px;
     box-shadow: 0px 5px 10px lightgrey;
}


.center_text {
    text-align: center;
}
/* --- link to top --- */
.white_text {
    color: white;
    padding: 5px;
}

/*  new noodle nav with hamburger */
.noodle_nav {
    color: black;
    background: rgb(243, 244, 247);

}

.noodle_nav a {
    color: inherit;
}

#hamburg {
    color: inherit;
}

/* end nav */

/* miscellaneous to be checked and cleaned from file */


.blog-font-h1 {
    color: white;
}


button:hover {
    background-color: #e8f4f4;
}


.dropdown-content a {
    color: black;
    padding: 5px 5px;
    display: block;
    background: #DDEEEE;
    font-size: 20px;
    width: 27vw;
}




.jumbotron {
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 5px;
    background: #e0e6e8de;
    font-family: 'Play', sans-serif;
    border: solid 5px #271838;
}

.flex_container_row {
    display: flex;
    flex-direction: row;
}

.flex_containter_column {
    display: flex;
    flex-direction: column;
}

.jumbotron p {
    background: #1f0f2ff2;
    color: white;
    padding: 5vh;
    border: solid 1px #b50bec;
}

.jumbotron h2{
    padding-left: 2vw;
}



#wiwa {
    font-size: 1.5em;
}

#line {
    padding-top: 5px;
    border-bottom: 5px solid;
    border-color: white;
    width: 100%;
    height: 8px;
}

#wiwa_bg {
    background-image: url('/static/images/unicorn4_12-22-18.png');
}

#image.container {
    /*border-style: solid;*/
    background-image: linear-gradient(#D7D3DC, #489076);
}

.
#nav_bar.banner {
    position: absolute;
    padding-top: 0px;
    top: 0;
    left: 0;
    background-color: #DDEEEE; /* pale blue */
    width: 100%;
    height: 10vh;
}

#text-area.flex-container {
    float: left;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    background-color: #D7D3DC;
    opacity: 0.95;
    position: fixed;
}

#grey-image.div {
    background-image: url('/static/images/unicorn2_12-22-18.png');
}

#github-image.a {
    color: #4a3e54;
    font-size: initial;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgba(176, 221, 219, 0.5);
    border: solid 5px black;
    /* grey blue */
}

    .banner h1 {
        margin: 0;
        color: #fafefd;
        text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px aqua;
    }

#gradiant.banner {
    background-image: linear-gradient(#CDD9EC, #A7D9C7);
}

#gradiant2.banner {
    background-image: linear-gradient(#CDD9EC, #7C7A76);
}

.contact-me {
    background: rgba(230, 246, 249, 0.80);
    color: #310932;
    text-shadow: 1px 1px 2px white;
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-list {
    list-style: none;
    align-content: left;
    left: 0;
    padding-left: 0;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
