html {
    margin: 0;
    padding: 0;

}


body {
    width: -webkit-fill-available;
    font-family: 'Girassol', cursive;
    background: rgba(243, 244, 247, 0.9);
    margin-bottom: 25vh;
}
 image{
     display: flex;
     flex-direction: row;
     margin-bottom: 30px;
     border-bottom: 1px solid #5705EE;
 }
main {
    opactiy: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main a {
        margin-bottom: 5px;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background: linear-gradient(45deg, transparent, #ecf7f9, transparent);

    }

.enlarge {
    transition: all .2s ease-in-out;
}

.enlarge:hover{
    transform: scale(1.2);
}
#my_tag {
    text-shadow: 1px 1px 1px #f70202;
}
.home {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(45deg, #fefefe, #e9f6f8);
}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 1px 2px white;
}
h2, h3, h4 {
    text-align: center;
}
 h5 {
     font-size: 1.5em;
     color: #562390;
     font-weight: 200;
     text-align: center;
     text-shadow: 1px 2px 2px #f6f7f0;

 }
 h6 {
     font-size: 1em;
 }

a {
    color: black;


}

    a:hover {
        color: black;
        text-shadow: 1px 1px 1px rgba(209, 3, 254, 0.5), -1px -1px 2px white;
    }

.card {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 5vh;
    box-shadow: 0 10px 20px rgba(30,10,30,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(45deg, #e7e4ee, #f4f5f7);

}

.card img {
     border: 7px solid rgba(230, 246, 249);

}

img:hover {
    z-index: 10;

}

.double-border{
    background-color: white;
    border-bottom: 2px double silver;
    border-top: 2px double silver;
}
/* SHOWCASE IMAGES*/
.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(233, 246, 248);
}
.showcase1 {
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 2;
    height: 40vh;

     background: rgba(53, 5, 130, 0.12);
    margin-bottom: 40px;
    background: linear-gradient(45deg, #d5cfe4, #e6f6f9);

}
.showcase2 {
    padding-top: 1em;
    padding-bottom: 1em;

    z-index: 2;
    height: 40vh;

     background: rgba(53, 5, 130, 0.12);
    margin-bottom: 40px;
    background: linear-gradient(45deg, #d5cfe4, #e6f6f9);

}

.showcase3 {
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 2;
    height: 50vh;

    background: rgba(53, 5, 130, 0.12);
    margin-bottom: 40px;
    background: linear-gradient(45deg, #d5cfe4, #e6f6f9);

}

/* favorite fonts */
.showcase4 {
    padding-top: 1em;
    padding-bottom: 1em;
    background: rgba(53, 5, 130, 0.12);
    z-index: 2;
    height: 40vh;
    margin-bottom: 40px;
    background: linear-gradient(45deg, #d5cfe4, #e6f6f9);

}


.card:hover .showcase4{
    background-image: url("../images/darkmode_favFonts.JPG");

}

.showcase5 {
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 2;
    height: 40vh;

    background: rgba(53, 5, 130, 0.12);
    margin-bottom: 40px;
    background: linear-gradient(45deg, #d5cfe4, #e6f6f9);
    }

/* showcase 6 has 3 images */
.showcase6 {
    width: 25%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;

}

.showcase7 {
    width: 25%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
}

/*   NAV   BAR    */
.custom-nav {
    color: white;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 5, 132, 0.85); /* pale white/blue */
}

.right-align {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 20px;
}

.left-align {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 30px;
}

button:hover {
    background-color: #e8f4f4;
}

.dropdown {
    display: flex;
    margin-right: auto;
    height: 100%;
    width: 30vw;
    border: none;
    font-weight: bold;
    font-size: 100%;
}

.dropdown-button {
    color: white;
    background: inherit;
    height: 100%;
    width: 27.75vw;
    border: none;
    font-family: 'Girassol', cursive;
    font-weight: bold;
    font-size: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 3vh;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    display: block;
    background: #DDEEEE;
    font-size: 20px;
    width: 27vw;
}



/* footer  Contact me*/

.contact-me {
    background: rgba(230, 246, 249, 0.80);
    color: #310932;
    text-shadow: 1px 1px 2px white;
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (max-width: 800px) and (min-width: 220px) {
    .card {
        width: 90%;
        padding: 0;
    }
