/* static custom css -- Nellie Tobey -- nelliesnoodles */
/* FOR PAGE:  word_finder && retrieve definition*/

body {
    width: -webkit-fill-available;
    font-family: 'Girassol', cursive;
    background: rgba(243, 244, 247, 0.9);
}

h4 {
    color: #2d1c44;
    font-size: 1.5em;
    background: white;
    padding: 1ch;
    font-family: monospace;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

form button{
    margin-left: 10px;
    padding: 1ch;
    border-radius: 10%;
    border: none;
    box-shadow: 3px 6px #c3a6c38c;
}
textarea {
    font-size: 2em;
    width: 30ch;
    padding: 1ch;
}

form input{
    font-size: 1.5em;
    margin-right: 10px;
    margin: 1ch;

}

main {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25vh;
}

h1 {
    text-align: center;
    width: 100vw;
    color: #073F5D;
    font-size: 3em;
}

h2 {
    text-align: center;
    width: 100vw;

    color: #073F5D;
}

.frame-text {
    text-shadow: 1px 1px 2px violet, -1px -1px white;
}

button:hover {
    background-color: #e8f4f4;
}

.input_container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 10px;
}

.container {

    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
}

.flex_containter_row {
    border-top: solid 1px purple;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.flex-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin: 1ch;
    padding: 1ch;
}

.contact-me {
    background: rgba(230, 246, 249, 0.80);
    color: #310932;
    text-shadow: 1px 1px 2px white;
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-border {
    border-top: 3px double purple;
}
/*  --Definition retrieval page specific--  */

.definition {
    font-size: 2em;
}
@media all and (max-width: 800px) and (min-width: 220px) {
    form {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .input_container{
        display: flex;
        flex-direction: column;
    }
    .flex-text {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    }
