a {
    color: black;
}

 a:hover {
        color: black;
        text-shadow: 1px 1px 1px rgba(209, 3, 254, 0.5), -1px -1px 2px white;
    }

/* nav colors can be set by page template css  */
nav {
    display: flex;
    flex-direction: row;
    background: inherit;
    border-bottom: 2px solid purple;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: black;
}

/* a : hover can be set by page template css  */

.noodle_home_link {
    align-content: flex-start;
    padding: 10px;
    border: solid 1px silver;
    border-radius: 10%;
}


.noodle_home_link:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  @keyframes background-color {
      0% {
          color: rgb(100, 100, 100);
          background-color: rgb(255, 255, 255);
      }
      50% {
          color: rgb(200, 0, 200);
          background-color: rgb(100, 100, 100);
      }
    100% {
      color: white;
      background-color: black;
      transform: scale(1.1);
    }
  }

.nav_link_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.noodle_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: azure;
}

.noodle_nav a{
    text-decoration: none;
    font-weight: bold;
    width: auto;
    padding: 2vw;
    color: black;
}



.Content_view {
    color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hamburg {
    color: black;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 1px silver;
    border-radius: 10%;
}


/* MOBILE */
@media all and (max-width: 799px) and (min-width: 220px) {
   .nav_link_menu {
       flex-direction: column;

   }
}