/* static custom css -- Nellie Tobey -- nelliesnoodles --Whispering Wall*/
*{
    margin: 0;
    padding: 0;
}

.btn-outline-primary {
    color: black;
    background-color: #DAF7A6;
    border-color: purple; /*set the color you want here*/
}

.noodle_nav {
    font-family: 'Girassol', cursive;
    background: rgba(243, 244, 247, 0.9);
}

.submit-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    font-weight: bolder;
    padding: 5px;
    border: 1px solid #f4f4f3;
    border-radius: 5px;
    margin: 2px;
    color: white;
    background: #803f78;
    text-shadow: 1px 1px 1px black;
    font-family: inherit;
    font-size: 1.5em;
}

body {
    background:  black;
    font-family: 'Amatic SC', cursive;
    font-weight: 1000;
}

main {
    width: 90vw;
    margin: auto;
}

h4 {
  color: white;
}

form{
    margin: 0;
    padding: 5px;
    display: flex;
    padding-top: 20px;
    font-size: 1.2em;
}

form textarea{

    width: 40vw;
    border: solid black;
    float: left;
}

p {
    color: white;
}

.wiwa_foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 0;
    color: #85467d;
    text-shadow: 1px -1px #ded3db;
    background: #ded5df;
}

footer {
    background: linear-gradient(0.25turn, transparent, black, transparent);
    color: white;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 2em;
}
header h1 {
    font-size: 2.5em;
    text-shadow: 1px 1px 1px white, -1px -2px 2px #5c1c26;

}

h2 {
    font-size: 1em;
}
#wiwa {
    font-size: 1.5em;
}


#bigbutton {

    text-align: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1em;
    color: white;
}

#bigbutton2 {

    text-align: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1em;
    color: white;
}

#line {
    border-bottom: 5px solid;
    border-color:   #112711;
    width: 100%;
    height: 8px;
}
#wiwa_bg  {
    background-image: url('/static/images/pexels-brick.jpg');
}

#image.container{
  /*border-style: solid;*/
  background-image: linear-gradient(#D7D3DC, #489076);
}
#nav_bar.banner{
  /* absolute means the rest of the content ignores it's placement */
  padding-top: 0px;
  margin: auto;
  top: 0;
  left: 0;
  background: #9c9587; /* pale blue */
  width: 100%;
  height: 40px;
}
#text-area.flex-container{
  float: left;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #DAF7A6;
  opacity: 0.95;
  position: fixed;
  }

#grey-image.div {
  background-image: url('/static/images/unicorn2_12-22-18.png');

}
#github-image.a{
    color: #4a3e54;
    font-size: initial;

}

.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  background: linear-gradient(0.25turn, transparent, #765862, transparent);
  color: #b9efb6;
  font-family: 'Amatic SC', cursive;
}


.banner h3{
    font-size: 3em;
    text-shadow: 1px 1px red;
}
.banner h4{
    color: white;
}
.banner a{
    color: #b9efb6;
    font-weight: bold;
}




#chatbox {
  border: solid  #b8e3b0;
  background: #dfd8e3;
  height: 30vh;
  overflow: auto;
  font-size: 1.5em;
  color: black;

}


/*---  NAV ---*/

navbar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    color: white;
    background-color: #e4dbea;
}

.noodles {
    color: purple;
    text-shadow: 1px 1px #b9e5b3;
    margin-right: 5vw;
}

.link_div {
    background: transparent;
    border-radius: 10%;
    padding: 10px;
    margin-right: 2vw;
}
a {
  text-decoration: none;
  color: black;
}
