/* static custom css -- Nellie Tobey -- nelliesnoodles --Whispering Wall*/
*{
    margin: 0;
    padding: 0;
}

.btn-outline-primary {
    color: black;
    background-color: #DAF7A6;
    border-color: purple; /*set the color you want here*/
}

.submit-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    font-weight: bolder;
    padding: 5px;
    border: 1px solid #f4f4f3;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 2px 2px silver;
    color: #b9efb6;
    background: #803f78;
    text-shadow: 1px 1px 1px black;
}

body {
    background: black;
    text-shadow: 1px 1px 2px black;
}
h4 {
  color:  #2d1c44;
}
navbar {
    display: flex;
    color: white;
}

form{
    margin: 0;
    padding: 5px;
    display: flex;
}
#wiwa {
    font-size: 1.5em;
}


#bigbutton {
    width: 20vw;
    text-align: center;
    justify-content: center;
}


#line {
    border-bottom: 5px solid;
    border-color:   #112711;
    width: 100%;
    height: 8px;
}
#wiwa_bg  {
    background-image: url('/static/images/abandoned-arch-architecture-2877112.jpg');
}

#image.container{
  /*border-style: solid;*/
  background-image: linear-gradient(#D7D3DC, #489076);
}
#nav_bar.banner{
  /* absolute means the rest of the content ignores it's placement */
  padding-top: 0px;
  margin: auto;
  top: 0;
  left: 0;
  background: #9c9587; /* pale blue */
  width: 100%;
  height: 40px;
}
#text-area.flex-container{
  float: left;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #DAF7A6;
  opacity: 0.95;
  position: fixed;
  }

#grey-image.div {
  background-image: url('/static/images/unicorn2_12-22-18.png');

}
#github-image.a{
    color: #4a3e54;
    font-size: initial;

}

.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  width: 100%;
  background: rgba(93, 63, 93, 0.8);
  color: #b9efb6;
  font-family: 'Amatic SC', cursive;
}

.banner h3{
    font-size: 3em;
}
.banner h4{
    color: #b9efb6;
}
.banner a{
    color: #b9efb6;
    font-weight: bold;
}
#gradiant.banner {
  background-image: linear-gradient(#CDD9EC, #A7D9C7);
}
#gradiant2.banner {
  background-color: #56144b;
  margin-top: 20px;
}



#chatbox {
  border: solid  #112711;
  background: #524131;
  color: ;
  height: 200px;
  width: 100%;
  overflow: auto;
  font-size: 1.5em;
  color: #fdfdfaf7;

}



a {
  color: black;
  font-weight: bold;
  font-size: 30px;
}
