<!DOCTYPE html>
{% load static %}

<html>

<head>
  <meta charset="utf-8">
   <title> Testing JavaScript Files</title>
     <script type="text/JavaScript" src="{% static 'js/nodescript.js' %}"> </script>

 </head>
<body text="blue" style="background-color: #9fb7b6;">
    <div style="margin: 10px 10px 10px 10px; float: center;">
  <a href="/blog"><button type="button"class="btn btn-outline-primary" style="float: left;">Blog</button></a>
      <a href="/wiwa"><button type="button"class="btn btn-outline-primary" style="float: left;">Wiwa</button></a>
        <a href='/'><button type="button"class="btn btn-outline-primary" style="float: left;">Home</button>  </a>
        </div>
<div>
<p style="padding: 20px 20px 20px 0px;">
<h1><strong><font color="black">JavaScript Experiment #1</font> </strong></h1>
<h2><font color="#2c2c45"> Using margin and padding to move the ASCII on button click</font></h2>
</p>
</div>
<button id="clickme" onclick="doSomething();"> click me </button>
<button id="moveright" onclick="move_right();">move right </button>
<button id="moveleft" onclick="move_left();">move left </button>
<button id="movedown" onclick="move_down();">move down </button>
<button id="moveup" onclick="move_up();">move up </button>
<button id="reset" onclick="reset();"> reset ascii </button>

<div id="tardisbox" style="marginTop: 10px; padding-left: 10px;">
Tardis
</div>

</body>
</html>
